text2motion/checkpoints/kit/kit_motiondiffuse/opt.txt
text2motion/checkpoints/kit/kit_motiondiffuse/meta/mean.npy
text2motion/checkpoints/kit/kit_motiondiffuse/meta/std.npy
text2motion/checkpoints/kit/kit_motiondiffuse/model/latest.tar
text2motion/checkpoints/t2m/t2m_motiondiffuse/opt.txt
text2motion/checkpoints/t2m/t2m_motiondiffuse/meta/mean.npy
text2motion/checkpoints/t2m/t2m_motiondiffuse/meta/std.npy
text2motion/checkpoints/t2m/t2m_motiondiffuse/model/latest.tar
text2motion/data/glove/our_vab_data.npy
text2motion/data/glove/our_vab_idx.pkl
text2motion/data/glove/our_vab_words.pkl
text2motion/data/pretrained_models/kit/Comp_v6_KLD005/opt.txt
text2motion/data/pretrained_models/kit/Comp_v6_KLD005/meta/mean.npy
text2motion/data/pretrained_models/kit/Comp_v6_KLD005/meta/std.npy
text2motion/data/pretrained_models/kit/Comp_v6_KLD005/model/latest.tar
text2motion/data/pretrained_models/kit/Decomp_SP001_SM001_H512/meta/mean.npy
text2motion/data/pretrained_models/kit/Decomp_SP001_SM001_H512/meta/std.npy
text2motion/data/pretrained_models/kit/Decomp_SP001_SM001_H512/model/latest.tar
text2motion/data/pretrained_models/kit/length_est_bigru/meta/mean.npy
text2motion/data/pretrained_models/kit/length_est_bigru/meta/std.npy
text2motion/data/pretrained_models/kit/length_est_bigru/model/latest.tar
text2motion/data/pretrained_models/kit/text_mot_match/eval/E005.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E010.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E015.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E020.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E025.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E030.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E035.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E040.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E045.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E050.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E055.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E060.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E065.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E070.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E075.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E080.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E085.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E090.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E095.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E100.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E105.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E110.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E115.txt
text2motion/data/pretrained_models/kit/text_mot_match/eval/E120.txt
text2motion/data/pretrained_models/kit/text_mot_match/model/finest.tar
text2motion/data/pretrained_models/t2m/Comp_v6_KLD01/opt.txt
text2motion/data/pretrained_models/t2m/Comp_v6_KLD01/meta/mean.npy
text2motion/data/pretrained_models/t2m/Comp_v6_KLD01/meta/std.npy
text2motion/data/pretrained_models/t2m/Comp_v6_KLD01/model/latest.tar
text2motion/data/pretrained_models/t2m/Decomp_SP001_SM001_H512/meta/mean.npy
text2motion/data/pretrained_models/t2m/Decomp_SP001_SM001_H512/meta/std.npy
text2motion/data/pretrained_models/t2m/Decomp_SP001_SM001_H512/model/latest.tar
text2motion/data/pretrained_models/t2m/length_est_bigru/meta/mean.npy
text2motion/data/pretrained_models/t2m/length_est_bigru/meta/std.npy
text2motion/data/pretrained_models/t2m/length_est_bigru/model/latest.tar
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E005.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E010.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E015.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E020.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E025.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E030.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E035.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E040.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E045.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E050.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E055.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E060.txt
text2motion/data/pretrained_models/t2m/text_mot_match/eval/E065.txt
text2motion/data/pretrained_models/t2m/text_mot_match/model/finest.tar
